<%= form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
 
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :required=>true, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :company_name, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :primary_contact, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :primary_contact, :required=>true, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :primary_contact_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :primary_contact_email, :required=>true, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :primary_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :primary_phone, :required=>true, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :secondary_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :secondary_phone, :class => 'text_field' %>
    </div>
  </div>
<div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                accounts_path, :class => 'btn' %>
  </div>
<% end %>
